<div class="sidebar">
    <ul>
        <li><a href="{{ url_for('profile') }}"><i class="fas fa-user"></i>Informacion personal</a></li>
        {% if g.user[10] == 1 %}
            <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-chart-pie"></i>Dashboard</a></li>
            <li><a href="{{ url_for('doctors') }}"><i class="fas fa-user-md"></i>Médicos</a></li>
            <li><a href="{{ url_for('patients') }}"><i class="fas fa-hospital-user"></i>Pacientes</a></li>
            <li><a href="{{ url_for('appointments') }}"><i class="fas fa-calendar-check"></i>Citas</a></li>
        {% elif g.user[10] == 2 %}
            <li><a href="{{ url_for('patients') }}"><i class="fas fa-hospital-user"></i>Mis pacientes</a></li>
            <li><a href="{{ url_for('appointments') }}"><i class="fas fa-calendar-check"></i>Mis Citas</a></li>
        {% elif g.user[10] == 3 %}
            <li><a href="{{ url_for('appointments') }}"><i class="fas fa-calendar-check"></i>Mis Citas</a></li>
        {% endif %}
    </ul>
</div>