* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar {
    position: absolute;
    top: 86px;
    width: 240px;
    left: 0px;
    /*height: 400px;*/
    height: calc(100% - 86px);
    background: #8ac9fe;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    color: white;
    text-align: center;
    background: #8ac9fe;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: all .5s ease;
}

.sidebar a.active, .sidebar a:hover {
    border-left: 5px solid #28377a;
    color: #28377a;

}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.sidebar + .main + footer {
    display: none;
}

.sidebar + .main {
    margin-left: 240px;
}
