{% extends "layout.html" %}

{% block title %} Acerca de {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/about-us.css") }}" media="screen">
{% endblock %}
{% block content %}
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-405d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <img class="u-image u-image-default u-preserve-proportions u-image-1"
                                     src="{{ url_for('static', filename="images/phone-conversation.png") }}" alt=""
                                     data-image-width="512" data-image-height="512">
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-custom-font u-text u-text-default u-text-1">Quienes somos</h2>
                                <p class="u-custom-font u-text u-text-default u-text-2"> La Clínica del&nbsp; Bosque es
                                    una entidad de prestación de servicios de salud, siempre a disposición de nuestros
                                    pacientes, para brindarles la mejor atención, con una infraestructura increible y
                                    equipos de primera para que los procedimientos sean lo más satisfactorios
                                    posible</p>
                                <a href="{{ url_for('contact_us') }}" data-page-id="60938186"
                                   class="u-active-custom-color-2 u-border-2 u-border-black u-btn u-button-style u-custom-font u-hover-custom-color-1 u-none u-text-black u-text-hover-white u-btn-1">Contáctenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}