{% extends "layout.html" %}

{% block title %} Citas {% endblock %}

{% block content %}
    {% include '/template-parts/sidebar.html' %}
    <div class="main">
        <h1 style="display: inline">Lista de citas</h1>
        <a href="{{ url_for('create_appointment') }}" class="btn btn-primary"><i class="fas fa-calendar-check"></i>
        </a>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} u-align-left"
                     role="alert">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id del doctor</th>
                <th scope="col">Id del paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Calificacion</th>
                <th scope="col">Comentario de la cita</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <form method="post" action="{{ url_for('delete_user', id=appointment[0]) }}">
                        <!-- Id del doctor -->
                        <td>{{ appointment[1] }}</td>
                        <!-- Id del paciente -->
                        <td>{{ appointment[2] }}</td>
                        <!-- Fecha -->
                        <td>{{ appointment[3] }}</td>
                        <!-- Calificacion -->
                        <td>{{ appointment[4] }}</td>
                        <!-- Comentario de la cita -->
                        <td>{{ appointment[5] }}</td>
                        <!-- Estado -->
                        <td>{{ appointment[6] }}</td>
                        <!-- Opciones -->
                        <td>
                            <a href="{{ url_for('', id=appointment[0]) }}">
                                <i class="far fa-eye"></i>
                            </a>
                            <button type="submit" class="text-danger btn ml-3">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}