{% extends "layout.html" %}

{% block title %} Inicio {% endblock %}
{% block content %}
    <section class="u-clearfix u-gradient u-section-1" id="sec-7cd4">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1"
                             src="">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">Clínica del
                                    Bosque</h2>
                                <p class="u-align-center u-custom-font u-text u-text-2">Por lo menos hay salud.</p>
                                <a href="register.html" data-page-id="499227451"
                                   class="u-active-custom-color-2 u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-radius-50 u-btn-1">Registrese
                                    ya!</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-effect-hover-zoom u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2"
                             src="" data-image-width="1345" data-image-height="943">
                            <div class="u-background-effect u-expanded">
                                <div class="u-background-effect-image u-expanded u-image u-image-1"
                                     data-image-width="1345"
                                     data-image-height="943"></div>
                            </div>
                            <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-gradient u-section-2" id="sec-48e4">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span
                                class="u-file-icon u-icon u-icon-circle u-icon-1"><img
                                src={{ url_for('static', filename="images/diagnosis.png") }} alt=""></span>
                            <h3 class="u-custom-font u-text u-text-white u-text-1">Cuerpo médico</h3>
                            <p class="u-custom-font u-text u-text-white u-text-2"> Un grupo de doctores consolidados,
                                dispuestos a dar todo de si mismo, para la salud de la población</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span
                                class="u-file-icon u-icon u-icon-circle u-icon-2"><img
                                src={{ url_for('static', filename="images/hospital.png") }} alt=""></span>
                            <h3 class="u-custom-font u-text u-text-white u-text-3">Instalaciones</h3>
                            <p class="u-custom-font u-text u-text-white u-text-4"> La Clínica del Bosque cuenta con un
                                sistema de salud bien estructurado, en materia de infraestructura y maquinas para darle
                                la
                                mejor atención a nuestro paciente&nbsp;</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span
                                class="u-file-icon u-icon u-icon-circle u-icon-3"><img
                                src={{ url_for('static', filename="images/patient.png") }} alt=""></span>
                            <h3 class="u-custom-font u-text u-text-white u-text-5">Atención</h3>
                            <p class="u-custom-font u-text u-text-white u-text-6"> Nuestro equipo siempre esta dispuesto
                                a
                                todo, solo para que nuestros pacientes tengan el mejor estado de salud posible!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}