{% extends "layout.html" %}

{% block title %} Registro {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={{ url_for('static', filename="css/login.css") }} media="screen">
{% endblock %}
{% block content %}
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-133c">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-grey-10 u-layout-cell u-size-30 u-layout-cell-1"
                             style="margin: auto">
                            <div class="u-container-layout u-container-layout-1 u-align-center"><span
                                    class="u-icon u-icon-circle u-spacing-20 u-text-custom-color-2 u-white u-icon-1"><svg
                                    class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"
                                    style=""><use
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-148b"></use></svg><svg
                                    class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-148b"
                                    style="enable-background:new 0 0 512 512;"><g><g><path
                                    d="M256,0c-74.439,0-135,60.561-135,135s60.561,135,135,135s135-60.561,135-135S330.439,0,256,0z"></path>
</g>
</g><g><g><path d="M423.966,358.195C387.006,320.667,338.009,300,286,300h-60c-52.008,0-101.006,20.667-137.966,58.195    C51.255,395.539,31,444.833,31,497c0,8.284,6.716,15,15,15h420c8.284,0,15-6.716,15-15    C481,444.833,460.745,395.539,423.966,358.195z"></path>
</g>
</g></svg></span>
                                <h3 class="u-custom-font u-text u-text-default u-text-1">Registro</h3>
                                {% for message in get_flashed_messages() %}
                                    <div class="u-align-left" class="flash">{{ message }}</div>
                                {% endfor %}
                                <div class="u-expanded-width-xs u-form u-login-control u-form-1">
                                    <form action="#" method="POST"
                                          class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form"
                                          source="custom" name="form-3" style="padding: 0px;">
                                        <div class="u-form-group u-form-name">
                                            <label for="email-5b0a"
                                                   class="u-custom-font u-form u-label u-label-1">Ingrese un correo
                                                electrónico</label>
                                            <input type="text" placeholder="Introduzca un correo electrónico válido"
                                                   id="email-5b0a"
                                                   name="email"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-1">
                                        </div>
                                        <div class="u-form-group u-form-password">
                                            <label for="password-5b0a"
                                                   class="u-custom-font u-form u-label u-label-2">Escriba una
                                                contraseña</label>
                                            <input type="password" placeholder="Ingrese una contraseña válida"
                                                   id="password-5b0a"
                                                   name="password"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-2">
                                        </div>
                                        <div class="u-form-group u-form-name">
                                            <label for="name" class="u-custom-font u-form u-label u-label-3">Escriba su
                                                nombre</label>
                                            <input type="text" id="name" name="name" placeholder="Introduzca su nombre"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-3">
                                        </div>
                                        <div class="u-form-group u-form-select u-form-group-4">
                                            <label for="select-f4ae" class="u-custom-font u-label u-label-4">Seleccione
                                                su tipo de documento</label>
                                            <div class="u-form-select-wrapper">
                                                <select id="select-f4ae" name="select"
                                                        class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-4"
                                                        required="required">
                                                    <option value="Tipo de documento...">Tipo de documento...</option>
                                                    <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                                                    <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
                                                    <option value="Cédula de extranjería">Cédula de extranjería</option>
                                                </select>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                     class="u-caret">
                                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="u-form-group u-form-name">
                                            <label for="numero_id"
                                                   class="u-custom-font u-form u-label u-label-5">Ingrese su número de
                                                documento</label>
                                            <input type="text" placeholder="Nº de documento" id="numero_id"
                                                   name="numero_id"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-5">
                                        </div>
                                        <div class="u-form-group u-form-select u-form-group-6">
                                            <label for="select-85c4"
                                                   class="u-custom-font u-label u-label-6">Sexo</label>
                                            <div class="u-form-select-wrapper">
                                                <select id="select-85c4" name="select-1"
                                                        class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-6"
                                                        required="required">
                                                    <option value="Sexo...">Sexo...</option>
                                                    <option value="Másculino">Másculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                </select>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"
                                                     class="u-caret">
                                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="u-form-date u-form-group u-form-group-7">
                                            <label for="date-b217" class="u-custom-font u-label u-label-7">Fecha de
                                                nacimiento</label>
                                            <input type="date" placeholder="MM/DD/YYYY" id="date-b217"
                                                   name="Fecha_de_nacimiento"
                                                   class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-7">
                                        </div>
                                        <div class="u-form-group u-form-name">
                                            <label for="address"
                                                   class="u-custom-font u-form u-label u-label-8">Ingrese su
                                                direccion</label>
                                            <input type="text" placeholder="Direccion de residencia" id="address"
                                                   name="address"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-8">
                                        </div>
                                        <div class="u-form-group u-form-name">
                                            <label for="city"
                                                   class="u-custom-font u-form u-label u-label-9">Ingrese su
                                                ciudad</label>
                                            <input type="text" placeholder="Ciudad de residencia" id="city"
                                                   name="city"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-9">
                                        </div>
                                        <div class="u-form-group u-form-name">
                                            <label for="numero_telefono"
                                                   class="u-custom-font u-form u-label u-label-10">Ingrese su número de
                                                teléfono</label>
                                            <input type="text" placeholder="Nº de teléfono" id="numero_telefono"
                                                   name="numero_telefono"
                                                   class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-43 u-white u-input-10">
                                        </div>
                                        <div class="u-form-agree u-form-group u-form-group-11">
                                            <input type="checkbox" id="agree-d98b" name="agree" class="u-agree-checkbox"
                                                   required="">
                                            <label for="agree-d98b" class="u-custom-font u-label u-label-11">Acepto los
                                                <a href="#">términos del servicio</a></label>
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <a href="#"
                                               class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-custom-font u-radius-50 u-btn-1">Realizar
                                                registro</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}