{% extends "layout.html" %}

{% block title %} Inicio {% endblock %}
{% block content %}
    <section class="u-clearfix u-gradient u-section-1" id="sec-988f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-form u-form-1">
                <form action="scripts/form-988f.php" method="POST"
                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="customphp" name="form"
                      style="padding: 10px;" redirect="true" redirect-url="59223614"
                      redirect-address="Iniciar-sesión.html">
                    <div class="u-form-email u-form-group u-form-group-1">
                        <label for="email-f535" class="u-custom-font u-label u-label-1">Escriba su correo
                            electrónico</label>
                        <input type="email" placeholder="Introduzca una dirección de correo electrónico válida"
                               id="email-f535" name="email"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-1"
                               required="">
                    </div>
                    <div class="u-form-group u-form-group-2">
                        <label for="text-ef15" class="u-custom-font u-label u-label-2">Escriba su contraseña</label>
                        <input type="text" placeholder="Introduzca una contraseña" id="text-ef15" name="password"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-2"
                               required="required">
                    </div>
                    <div class="u-form-group u-form-name u-form-group-3">
                        <label for="name-3659" class="u-custom-font u-label u-label-3">Escriba su nombre</label>
                        <input type="text" placeholder="Introduzca su nombre" id="name-3659" name="name"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-3"
                               required="">
                    </div>
                    <div class="u-form-group u-form-select u-form-group-4">
                        <label for="select-f4ae" class="u-custom-font u-label u-label-4">Seleccione su tipo de
                            documento</label>
                        <div class="u-form-select-wrapper">
                            <select id="select-f4ae" name="select"
                                    class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-4"
                                    required="required">
                                <option value="Tipo de documento...">Tipo de documento...</option>
                                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                                <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
                                <option value="Cédula de extranjería">Cédula de extranjería</option>
                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="u-form-group u-form-group-5">
                        <label for="text-8c96" class="u-custom-font u-label u-label-5">Digite nº de documento</label>
                        <input type="text" id="text-8c96" name="Documento"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-5"
                               placeholder="Nº de documento" required="required">
                    </div>
                    <div class="u-form-group u-form-select u-form-group-6">
                        <label for="select-85c4" class="u-custom-font u-label u-label-6">Sexo</label>
                        <div class="u-form-select-wrapper">
                            <select id="select-85c4" name="select-1"
                                    class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-6"
                                    required="required">
                                <option value="Sexo...">Sexo...</option>
                                <option value="Másculino">Másculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="u-form-date u-form-group u-form-group-7">
                        <label for="date-b217" class="u-custom-font u-label u-label-7">Fecha de nacimiento</label>
                        <input type="date" placeholder="MM/DD/YYYY" id="date-b217" name="Fecha_de_nacimiento"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-7"
                               required="">
                    </div>
                    <div class="u-form-address u-form-group u-form-group-8">
                        <label for="address-3cfd" class="u-custom-font u-label u-label-8">Direccion de domicilio</label>
                        <input type="text" placeholder="Ingrese su dirección" id="address-3cfd" name="address"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-8"
                               required="">
                    </div>
                    <div class="u-form-group u-form-group-9">
                        <label for="text-b8ce" class="u-custom-font u-label u-label-9">Ciudad</label>
                        <input type="text" placeholder="Ingrese su ciudad" id="text-b8ce" name="city"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-9"
                               required="required">
                    </div>
                    <div class="u-form-group u-form-phone u-form-group-10">
                        <label for="phone-ee9a" class="u-custom-font u-label u-label-10">Nº de teléfono</label>
                        <input type="tel"
                               pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                               placeholder="Ingrese su teléfono (por ejemplo, +573049565483)" id="phone-ee9a"
                               name="phone"
                               class="u-border-1 u-border-custom-color-1 u-custom-font u-input u-input-rectangle u-radius-10 u-white u-input-10"
                               required="">
                    </div>
                    <div class="u-form-agree u-form-group u-form-group-11">
                        <input type="checkbox" id="agree-d98b" name="agree" class="u-agree-checkbox" required="">
                        <label for="agree-d98b" class="u-custom-font u-label u-label-11">Acepto los <a href="#">términos
                            del servicio</a>
                        </label>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                        <a href="#"
                           class="u-active-custom-color-2 u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-btn-1">Registrarse</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado.</div>
                    <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor,
                        corrija los errores y vuelva a intentarlo.
                    </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                </form>
            </div>
            <img class="u-image u-image-default u-preserve-proportions u-image-1"
                 src={{ url_for('static', filename="images/medical-record.png") }} alt="" data-image-width="512"
                 data-image-height="512">
        </div>
    </section>
{% endblock %}